.form-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container .submit-button {
  display: block;
  margin: 0 auto;
  /* Center the submit button */
  width: 100px;
  /* Adjust width as needed */
  padding: 10px;
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.form-container .submit-button:hover {
  background-color: #c0bbbb;
  color: black;
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: center;
}

.success-message {
  color: green;
  margin-top: 5px;
  text-align: center;
}

.password-strength {
  margin-top: 5px;
  font-size: 0.9em;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}

.success-button {
  background-color: green;
  color: white;
}

.error-button {
  background-color: red;
  color: white;
}